.header {
  border-bottom: 1px solid var(--border-color);
  max-height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.link {
  position: relative;
}

.link {
  color: var(--active-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--ineractive-color);
  outline: none;
}

.current {
  color: var(--ineractive-color);
}

.current::after {
  content: '';
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ineractive-color);
}

.header-adress {
  display: flex;
  align-items: center;
  margin-left: 305px;
  margin-right: auto;
}

.adress-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.adress-item + .adress-item {
  margin-left: 30px;
}

.mail,
.phone {
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact-icon {
  display: flex;
  fill: currentColor;
}

.nav-contact-icon {
  margin-right: 10px;
}

.mail:hover,
.mail:focus {
  color: var(--ineractive-color);
  outline: none;
}

.phone:hover,
.phone:focus {
  color: var(--ineractive-color);
  outline: none;
}

.nav-contact-icon:hover,
.nav-contact-icon:focus {
  color: var(--ineractive-color);
}
