.nav-title {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: var(--ineractive-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--active-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.footer-title {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: var(--ineractive-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: block;
  margin-bottom: 20px;
}

.footer-logo {
  color: var(--hero-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
}
